fastapi
uvicorn[standard]
crewai
langchain
langchain-groq
litellm
langchain-community
pandas
numpy
matplotlib
seaborn
scikit-learn
python-dotenv==1.0.1
uvicorn==0.27.1
python-multipart==0.0.9
python-docx==1.1.0
pydantic
rich
tenacity
scipy
